In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.python.keras.optimizers import RMSprop
from tensorflow.python.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
import datetime
import os
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


#Connect to DB
path = os.path.abspath("MinorLeague.db")
Base = declarative_base()
engine = create_engine("sqlite:///"+path, echo = False)
conn = engine.connect()
metadata = Base.metadata
Session = sessionmaker(bind=engine)
session = Session()

#Read in the data
df = pd.read_sql_table('all_3_Data', conn)

#To remove any columns from the data
#df = df.drop(['StateCode'], axis = 1)
#df = df.drop(['CountyCode'], axis = 1)
df = df.drop(['meanIncome'], axis = 1)

#Convert the Year column to a datetime datatype
df['Year'] = pd.to_datetime(df.Year, format='%Y')

#Convert the StateCode and CountyCode to numbers
df['StateCode'] = pd.to_numeric(df['StateCode'], errors='coerce').fillna(0)
df['CountyCode'] = pd.to_numeric(df['CountyCode'], errors='coerce').fillna(0)

#Display the shape of the data
display(df.shape)
#Display the dataypes of the columns
#display(df.dtypes)
#Display all of the data
#display(df)
df.set_index(['CountyCode', 'StateCode'], inplace = True) #Year was here also- County&StateName?
display(df)

#https://github.com/Hvass-Labs/TensorFlow-Tutorials/blob/master/weather.py

df.head()

(5724, 16)

,,Year,medianFamilyIncome,medianHomeVal,medianHouseIncome,medianHouseholdCosts,medianNonFamIncome,medianRealEstateTax,medianWorkerIncome,population,totalHouses,workers,medianAge,medianIncome,povertyPop
CountyCode,StateCode,,,,,,,,,,,,,,
3,1,2011-01-01,66145,170300,50900,933,33795,557,30104,186717,54247,93840,42,74460,8192
15,1,2011-01-01,49603,99100,39037,605,21414,395,23301,117797,30699,54845,39,44722,10023
43,1,2011-01-01,53091,112000,40054,677,15370,311,27788,80536,23942,36309,41,31954,4921
49,1,2011-01-01,40978,97100,36541,571,16159,340,24351,71375,21897,33281,39,27139,3544
51,1,2011-01-01,64952,148900,57405,860,34993,399,30716,80162,22520,38421,37,28469,5851
55,1,2011-01-01,45075,103600,33313,628,18277,441,24554,104303,29577,43441,39,40443,8618
69,1,2011-01-01,50657,123600,40336,656,24819,418,25041,102369,25868,49037,38,39118,7645
73,1,2011-01-01,56260,141100,41976,877,26384,873,27467,658931,163753,320232,36,255059,51027
77,1,2011-01-01,53654,109400,40121,628,23340,510,23701,92781,28087,43388,40,39331,7501
81,1,2011-01-01,57428,157400,42965,821,23178,759,22565,143468,34167,71546,28,56274,15465
83,1,2011-01-01,52793,143300,46339,682,23980,481,26166,85369,24873,38115,39,32648,5690
89,1,2011-01-01,70675,162000,54444,854,30604,742,29958,340111,91889,180800,37,133173,17193
95,1,2011-01-01,46270,121400,39245,636,21663,492,26080,94166,25136,41776,39,33750,8019
97,1,2011-01-01,51799,121700,42372,796,25153,641,27080,412577,106764,192134,36,157783,33832
101,1,2011-01-01,53437,119700,44185,821,31175,472,25657,232032,53814,111690,34,86531,21949
103,1,2011-01-01,52868,120400,43590,649,26284,479,24038,119953,33246,60681,40,45310,9610
115,1,2011-01-01,52313,140300,47500,760,26320,446,31239,84398,26098,39694,39,33274,8505
117,1,2011-01-01,80603,189500,65815,1112,40048,932,35821,197936,59718,107921,37,74648,4313
121,1,2011-01-01,40404,96200,30367,629,15880,392,21058,81664,20989,34702,40,32044,8282
125,1,2011-01-01,55532,151500,42056,834,23442,548,22830,197211,44276,91366,31,67669,16769
127,1,2011-01-01,46330,81800,34343,527,19267,287,24856,66661,19573,27482,42,26204,4764
20,2,2011-01-01,85483,284600,72813,1377,48294,3789,37007,295570,63309,170721,32,106651,11014
90,2,2011-01-01,70387,205900,65920,1328,40021,2702,32695,99192,21497,55954,30,37016,4749
170,2,2011-01-01,75441,218000,68672,1125,41206,2566,37175,91946,24987,42894,35,33328,5919
1,4,2011-01-01,40867,92600,31123,320,14043,580,21615,72401,15212,25836,31,19881,11802
3,4,2011-01-01,49917,143200,40903,746,26003,1045,20371,133289,33151,53510,40,47402,12310
5,4,2011-01-01,55704,202100,45045,924,32012,1374,20357,134511,27522,71796,31,44826,12862
13,4,2011-01-01,60753,161500,50770,1045,33572,1391,30523,3880244,866589,1924684,34,1407161,307566
15,4,2011-01-01,42656,119200,35983,707,22117,862,21006,202351,54629,81250,48,78977,18149
17,4,2011-01-01,39861,98700,30937,563,22901,747,21225,107398,23437,40804,35,33305,15598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,29,2017-01-01,66786,158300,51140,833,27625,1180,25549,78161,20253,38744,36,29245,60566
37,29,2017-01-01,77034,172100,64595,1010,41587,1814,37524,103724,30043,51845,39,40545,80022
43,29,2017-01-01,70080,161800,59161,835,40167,1349,32325,85432,24868,41715,38,32009,66195
47,29,2017-01-01,80929,176100,66938,1038,41822,2313,36717,242874,62462,134464,37,92020,188605
51,29,2017-01-01,72857,162600,52609,727,30152,1297,31983,76708,19858,39813,38,29726,56855
71,29,2017-01-01,72399,165800,55290,811,26463,1459,31337,103330,32047,52906,41,40256,81963
77,29,2017-01-01,60335,148000,45117,770,26170,1266,27587,289805,68520,149793,36,120498,225137
95,29,2017-01-01,69373,142300,52552,926,35238,1898,35209,698895,166695,366718,36,285887,541703
97,29,2017-01-01,59202,113900,47981,719,28634,832,31152,120217,29915,60284,35,46784,91114
99,29,2017-01-01,70705,162500,62228,919,39664,1482,35707,223810,67057,115349,39,84301,175990
165,29,2017-01-01,94809,219000,74646,1187,46881,2631,40939,101187,25890,57449,38,39407,79445
183,29,2017-01-01,96157,220100,81594,1198,42626,2656,41082,395504,118597,217930,38,145332,305052
187,29,2017-01-01,56676,124700,39288,639,22495,886,25369,66705,15694,28670,39,22504,47605
189,29,2017-01-01,80749,197300,64784,1031,40688,2630,36973,996726,276050,524042,40,406823,786538
510,29,2017-01-01,56652,141400,41441,818,30273,1483,31207,308626,60483,168819,35,138513,248024
13,30,2017-01-01,63486,174300,47713,746,29559,1622,30305,81654,22892,40686,39,33346,63472
29,30,2017-01-01,69481,270500,59735,815,34213,1989,28124,100000,28172,51203,42,37236,80395
31,30,2017-01-01,85125,344600,60901,1137,37404,2668,30502,107810,28120,64538,33,44315,85055
49,30,2017-01-01,78867,244200,60404,957,40154,2303,31683,67773,20036,36560,40,28250,53653
63,30,2017-01-01,79364,295600,54311,922,28561,2857,25552,117441,28256,68243,35,48806,95137
111,30,2017-01-01,71992,225500,58156,943,31887,2017,31723,158980,44979,86145,39,65962,122534
55,31,2017-01-01,78201,167600,61531,1054,39318,3311,35942,561620,132085,309540,34,218390,423540
109,31,2017-01-01,77293,179400,59306,944,36329,3212,31771,314358,75704,178734,33,122954,237053
153,31,2017-01-01,95281,195700,80694,1227,46537,3822,41603,181439,45822,102610,34,65715,136316
3,32,2017-01-01,66673,250000,57189,1117,37391,1518,32083,2204079,423630,1119411,37,781796,1726470
31,32,2017-01-01,75268,331200,61498,1085,41637,1813,34082,460587,104810,247128,38,180851,367111
5,33,2017-01-01,81457,200300,61257,1097,38743,5201,31105,75960,20540,41515,42,29385,60124
9,33,2017-01-01,87242,217300,64420,1097,36235,4575,30625,89386,23378,47316,43,33672,70055
11,33,2017-01-01,98910,278400,78769,1384,48187,6050,41110,409697,105784,235865,40,161414,329112
13,33,2017-01-01,84012,231500,70764,1209,40716,5559,36463,149216,39772,82974,43,58220,118794

,,Year,medianFamilyIncome,medianHomeVal,medianHouseIncome,medianHouseholdCosts,medianNonFamIncome,medianRealEstateTax,medianWorkerIncome,population,totalHouses,workers,medianAge,medianIncome,povertyPop
CountyCode,StateCode,,,,,,,,,,,,,,
3,1,2011-01-01,66145,170300,50900,933,33795,557,30104,186717,54247,93840,42,74460,8192
15,1,2011-01-01,49603,99100,39037,605,21414,395,23301,117797,30699,54845,39,44722,10023
43,1,2011-01-01,53091,112000,40054,677,15370,311,27788,80536,23942,36309,41,31954,4921
49,1,2011-01-01,40978,97100,36541,571,16159,340,24351,71375,21897,33281,39,27139,3544
51,1,2011-01-01,64952,148900,57405,860,34993,399,30716,80162,22520,38421,37,28469,5851